<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Store</title>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a href="#"><img class="logo" src="~/image/logo.png"></a>

        <div class="container">

            <div class="dropdown">
                <button class="dropbtn">МЕНЮ</button>
                <div class="dropdown-content menu">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    <a class="nav-link" asp-area="" asp-controller="Store" asp-action="GamesList">Магазин</a>
                </div>
            </div>

            @if (User.IsInRole("admin"))
            {
                <div class="dropdown">
                    <button class="dropbtn">ИГРЫ</button>
                    <div class="dropdown-content menu">
                        <a class="nav-link" asp-area="" asp-controller="Store" asp-action="AddGame">Добавить игру</a>
                        <a class="nav-link" asp-area="" asp-controller="Store" asp-action="EditGameView">Редактировать игру</a>
                        <a class="nav-link" asp-area="" asp-controller="Store" asp-action="DeleteGame">Удалить игру</a>
                        
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">ПОЛЬЗОВАТЕЛИ</button>
                    <div class="dropdown-content menu">
                        <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index">Менеджмент ролей</a>
                    </div>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {

                <div class="dropdown float-right">
                    <button class="dropbtn text-capitalize">@User.Identity.Name</button>
                    <div class="dropdown-content menu">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">Профиль</a>
                        <a class="nav-link" asp-area="" asp-controller="Store" asp-action="ShowLibrary">Библиотека</a>
                        <form class="text-lg-right" method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" value="Выход" />
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="dropdown float-right">
                    <button class="dropbtn search">АККАУНТ</button>
                    <form class="dropdown-content menu" method="post">
                        <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Вход</a><br />
                        <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Регистрация</a><br />
                    </form>
                </div>
            }
        </div>
    </header>
    <div>

        <div class="main">
            <aside class="side-l">
                <div class="side-div">
                </div>
                <img src="~/image/side.png">
            </aside>

            <main>
                <div class="table-list">
                    @RenderBody()
                </div>
            </main>

            <aside class="side-r">
                <div class="side-div">
                </div>
                <img src="~/image/side.png">
            </aside>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Games Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>