
* {
	color: white;
}

input {
	color: black;
}

.TitleText{
	font-size: 50px;
	font-weight: 500;
	text-align: center;
	padding-bottom: 5%;
}

.button {
	width: 200px;
}

.table-list
{
	padding: 5%;
}

header {
	min-width: 100%;
	position: relative;
	height: inherit;
	width: 100%;
	display: flex;
	background: linear-gradient(#ff0000,#390000);
	top: 0;
	left: 0;
	
}

body {
	background-color: black;
	background-image: url(../image/back/back10.jpg);
}

.logo{
	width:150px;
	height:100px;
	float:left;
	margin:10px;
}

.dropbtn {
	height: 120px;
	width: inherit;
	padding: 15px;
	font-size: 40px;
	border: none;
	background: linear-gradient(#ff0000,#390000);
	color: white;
}

.main-button{
	position:inherit
}

.dropdown {
    position: relative;
    display: inline-block;
	background:none;
}
.dropdown-content {
    display: none;
    position: absolute;  
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content.menu a {
	background:linear-gradient(45deg,#390000, #ff0000);
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border-radius:25px;
	border:1px solid black;
}
.dropdown-content.menu a:hover {background: linear-gradient(45deg,#010000, #ff0000);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background: linear-gradient(#ff0000,#010000);}

.dropdown-content input {
	border: 1px solid black;
	background: linear-gradient(45deg,#390000, #ff0000);
	color: white;
	padding: 15px 16px;
	text-decoration: none;
	display: block;
	border-radius: 25px;
	font-size: 15px;
}
form.dropdown-content.login{
	border:1px solid black;
	background:linear-gradient(45deg,#390000, #ff0000);
    color:white;
	border-radius:25px;
	padding: 15px 16px;
	font-size: 15px;
}
form a{
	color:white;
	
}
header input::-webkit-input-placeholder{
	color:white;
}

.dropdown.login{
	text-align:center;
}

div.titleTag {
	background-image: url(../image/back/back7.jpg);
	background-size: inherit auto;
	height: auto;
	text-align: center;
	color: White;
	font-size: 50px;
}
div.tag img{
	display: block;
	margin-left: auto;
	margin-right: auto;

	height:auto;
	width:400px;
}
div.tag p{
	position: absolute;
	top:200px;
	left: 0;
	bottom: 0;
	width: 100%;
}

aside{
	width:300px;;
	height: inherit;
	float:left;
}

main {
	border-style: solid;
	border-image-slice: 140;
	border-image-width: 45px;
	border-image-outset: 0px;
	border-image-repeat: round round;
	border-image-source: url(../image/border/border11.png);
	width: 100%;
	min-width: 500px;
	height: inherit;
	float: left;
	background-image: url(../image/back/back4.png);
	background-size: 100px;
	margin: 0px 5px 0px 10px;
	;
}

aside img{
	width:inherit;
	height:500px;
}
.side-r img{	
	transform: scale(-1, 1);
}
.side-r{
	float:right;
}

.main {
	display: flex;
	height: inherit;
}

.side-div {
	width: inherit;
	height: inherit;
	border-style: solid;
	border-image-slice: 140;
	border-image-width: 45px;
	border-image-outset: 0px;
	border-image-repeat: round round;
	border-image-source: url(../image/border/border11.png);
	background-image: url(../image/back/back4.png);
	background-size: 100px;
}


