@model PracticeShop.Models.User

<div>
    <div>
        <table class="table">
            <tr>
                <td>Имя пользователя: </td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>
                    <form method="get" asp-controller="User" asp-action="EditProfile">
                        <input type="submit" value="Редактировать профиль"/>
                    </form>
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
</div>