@*@model PracticeShop.ViewModels.UserProfileViewModel*@
@model PracticeShop.Models.User
<div>
    @*<div class="flex-md-column">
        <img src="@Url.Action("GetImage", Model.Path)" class="avatar-image" />
    </div>*@

    <table class="table">
        <tr>
            <td>Имя пользователя: </td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>
                <form method="get" asp-controller="Account" asp-action="EditAccount">
                    <input type="submit" value="Редактировать профиль" />
                </form>
            </td>
            <td>
                <form method="get" asp-controller="Account" asp-action="ChangePassword">
                    <input type="submit" value="Сменить пароль" />
                </form>
            </td>
        </tr>
    </table>
</div>