@model WebStore.Models.Device

<form method="post" asp-controller="Store" asp-action="AddGame">
    <div>
        <label asp-for="Name">Название игры</label><br />
        <input type="text" asp-for="Name" />
    </div>

    <div>
        <label asp-for="Type">Жанр</label><br />
        <input type="text" asp-for="Type" />
    </div>

    <div>
        <label asp-for="Manufacturer">Издатель</label><br />
        <input type="text" asp-for="Manufacturer" />
    </div>

    <div>
        <label asp-for="Price">Цена</label><br />
        <input type="number" asp-for="Price" />
    </div>

    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>