@model WebStore.Models.Device

<form method="get" asp-controller="Store" asp-action="SearchItem">
    <div>
        <label asp-for="Name">Search field</label><br />
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <input type="submit" value="Search" />
    </div>
</form>