@model List<Game>

<div>
    @if (Model != null)
    {
        <table class="table">
        <tr>
            <td>
                <p>Название игры</p>
            </td>
            <td>
                <p>Жанр</p>
            </td>
            <td>
                <p>Издатель</p>
            </td>
            <td>
            </td>
        </tr>
        @foreach (Game game in Model)
        {
            <tr>
                <td>
                    <p>@game.Name</p>
                </td>
                <td>
                    <p>@game.Genre</p>
                </td>
                <td>
                    <p>@game.Publisher</p>
                </td>
                <td>
                    <form method="post" asp-route-id="@game.ID" asp-action="DeleteGameFromLibrary">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить из библиотеки
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    }
    else
    {
        <p class="text-white">Ваша библиотека пуста!</p>
    }
</div>